
/* Lagay kayo design here sa CSS */

body {
    background-color: whitesmoke;
    justify-content: center;
    display: flex;
}

.header {
    color: #e0e7f5;
    background-color: #384257;
    padding: 10px;
    border-radius: 10px;
}